html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#container {
  height: 100%;
  position: relative;
}

.app-body {
  margin-top: 65px;
  position: absolute;
  width: auto;
  height: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
